@model ApplicationEntity

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "应用详情";
}

<div>
    <h4>ApplicationEntity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Appsecret)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Appsecret)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Enable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Enable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValidDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValidDateTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

